<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="support.ui.demo">

  <application
      android:name="support.ui.app.SupportApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      >
    <activity
        android:name=".MainActivity"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".ContentTestActivity"
        android:label="@string/label_content">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>

    <activity
        android:name=".CellsActivity"
        android:label="@string/label_settings">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>

    <activity
        android:name=".SettingsActivity"
        android:label="@string/label_settings">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".CellsActivity"/>
    </activity>

    <activity
        android:name=".ButtonsActivity"
        android:label="@string/label_buttons">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".MainActivity"/>
    </activity>

  </application>

</manifest>